<html>

    <head>
        <title>DEFINITION</title>
    </head>

    <body>
        <h1>Hybrid Onechain에 오신걸 환영합니다.</h1><br>

        <form name="loginform" aligh="center" action="/login" method="post">
            　　　ID : <input name="user_id" type="text" max_length='10'/><br>
            Password : <input name="user_pwd" type="password" max_length='10'/>
            <input type="submit" value="로그인"/><br>
            {{ error }}
        </form>
    </body>

    <footer>

    </footer>


</html>